NODE_ENV=development
PORT=3001
DATABASE_URL=postgresql://soerjo_pg:soerjo123@100.92.245.124:5432/my_pharmacy_warehouse?schema=public
JWT_ACCESS_SECRET=hwndurfhldnbgnwmzbktczoradelfewn
FRONTEND_URL=http://localhost:5173
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
